*{
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body{
    font-size: 20px;
    font-family: "Roboto";
    background-image: url("../img/19366.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    width: 100%;
    background-image: url("../img/19366.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header .contenedor .menu {
    display: none;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .contenedor nav a{
    color: red;
    text-decoration: none;
    margin: 0 15px;
}
header .contenedor .menu{
    display: none; 
    position: relative;
}
header .contenedor a img{
    width: 250px;
    margin-left: 20px;
}
.slider-contenedor{
    margin-top:14%;
    margin-left: 15%;
    margin-right: 17%;
}
section .menu-datos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .menu-datos a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #295596;
    text-decoration: none;
}
section .menu-datos img{
    width: 40%;
}
main .columna-4{
    display: none;
}
.comercial{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    align-items: center;
}
.comercial h3{
    background-color: blue;
    color: white;
    border-radius: 20%;
    width: 15%;
    margin-top: 10%;
    padding: 25px;
    text-align: center;  
}
.infocomercial{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: -15%;
}
.infocomercial img{
    margin: 6px;
    border: 1px solid rgb(231, 231, 231);
}
.informativo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.informativo div p {
    float: left;
    width: 50%;
    margin-top: 15%;
    font-size: 40px;
    margin-left: 100px;
    color: #295596;
    font-weight: 900;
    font-style: oblique;
}
.informativo div img{
    float: right;
    width: 30%;
    margin-right: 200px;

}
section.crc{
    background: #01bfdf;
    margin: 15px;
    width: 99%;
}
.crc img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fcc80c6c;
}
footer .columna{
    width: 33.33%;
    text-align: center;
}
footer .columna a {
    text-decoration: none;
}
footer  .menu-footer{
    list-style: none;
    text-align: left;
}
footer .final-footer{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: gray;
}
.menu-footer a{
    color: #295596;
}
.redes{
    font-size: 70px;
}
section.empresa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.empresa .vision{
    width: 45%;
    text-align: justify;
    margin: 35px;
    background-color: #e7a61a;
    padding: 25px;
    box-shadow: 11px 24px 7px 8px rgba(0,0,0,0.75);
}
section.empresa .vision h2{
    font-size: 60px;
    text-align: center;
    color: #295596;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -12px 9px 6px rgba(0,0,0,0.2);
}
section.empresa .mision{
    width: 45%;
    text-align: justify;
    margin: 35px;
    background-color: #e7a61a;
    padding: 25px;
    box-shadow: 11px 24px 7px 8px rgba(0,0,0,0.75);
}
section.empresa .mision h2{
    font-size: 60px;
    text-align: center;
    color: #295596;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -12px 9px 6px rgba(0,0,0,0.2);
}
section.empresa .valores{
    width: 50%;
    text-align: justify;
    margin: 35px;
    background-color: #e7a61a;
    padding: 25px;
    box-shadow: 11px 24px 7px 8px rgba(0,0,0,0.75);
}
section.empresa .valores h2{
    font-size: 60px;
    text-align: center;
    color: #295596;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -12px 9px 6px rgba(0,0,0,0.2);
}
section div.proteccion{
    margin-top: 15%;
    text-align: center;
}
section div.proteccion h2{
    font-size: 40px;
    margin-bottom: 0;
    color: #295596;
    text-shadow: 4px 3px 2px rgba(150, 150, 150, 0.61);
}
section div.proteccion img{
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
section .normativa{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
} 
section .normativa .columna-33{
    width: 33.33%;
}
section .normativa .columna-33 a{
    color: black;
    font-weight: 600;
    text-align: justify;
    text-decoration: none;
}
section .normativa .columna-33 ul li{
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}
section div.titulo{
    margin-top: -2%;
    text-align: center;
    font-size: 30px;
    color: #295596;
}
section div.canales{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: -2%;
}
section div.canales ul{
    background-color:   #fcc90c;
    margin-top: 0;
    width: 14%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}
section div.canales ul li{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: 0.5s cubic-bezier(0.4, 0.2 , 0.2, 1);
    z-index: 2;
    list-style: none;
    background-color: red;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
}
section div.canales ul li img{
    position: absolute;
    transform: rotateY(0deg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    margin: auto;
    width: 55%;
    z-index: -1;
}
section div.canales ul li p{
    position: absolute;
    left: 35%;
    top: 0;
    visibility: hidden;
    margin-bottom: 10%;
    font-size: 30px;
    transform: rotateY(360deg);
    z-index: -1;
    color: white;
}
section div.canales ul li:hover{
    transform: rotateY(360deg);
}
section div.canales ul li:hover > img{
    visibility: hidden;
}
section div.canales ul li:hover > p{
    visibility: visible;
}
section div.banner-programacion{
    margin-top: 20px;
}
section div.banner-programacion img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
section div.programacion{
    margin-top: 1%;
    margin-left: 23.4%;
    margin-right: 23.4%;
}
section div.banner-titulo img{
    margin-top: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
main section .divicion{
    margin-top: 15%;
}
section .condicion-tabla{
    font-size: 25px;
    text-align: center;
    color: #295596;
}
section .tabla-precios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section .tabla-precios .mes{
    width: 28%;
    text-align: center;
    border: 3px solid #295596;
    color: black;
    margin: 20px;
    border-radius: 20% 20% 0 0;
}
section .tabla-precios .mes h1{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}
section .tabla-precios .mes img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
section .tabla-precios .mes h3{
    font-size: 60px;
    font-weight: 300;
    display: inline;
}
section .tabla-precios .mes h3 sub, section .tabla-precios .mes h3 sup{ 
    font-size: 20px;
    color: rgba(216, 216, 216, 0.76);
    font-weight: 600;
}
section .tabla-precios .mes h3 sub{
    font-size: 16px;
}
section .tabla-precios .mes ul{
    margin-right: 40px;
}
section .tabla-precios .mes ul li{
    background-color: rgba(252, 200, 12, 0.774);
    padding: 10px 0;
    list-style: none;
}
section .tabla-precios .mes ul li .nota{
    font-size: 10px;
}
section .tabla-precios .mes ul li:nth-child(2n){
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
}
section .tabla-precios .mes .btn{
    display: block;
    padding: 30px 0;
    background-color: #fcc90c;
    color: black;
    text-decoration: none;
    margin-bottom: 0;
}
section .contenedor-formulario{
    margin-top: 15%;
    text-align: center;
}
section .contenedor-formulario .formulario {
    padding: 15px;
    background-color: rgba(252, 200, 12, 0.568);
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 25px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: 900px;
}
section .contenedor-formulario .formulario form .item-formulario{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 15px;
}
section form i{
    font-size: 25px;
    align-items: center;
    display: block;
}
section form .form-control{
    display: block;
    font-size: 20px;
    width: 90%;
    margin-right: 0;
    margin-left: 10px;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}
section form .btn-formulario{
    display: block;
    font-size: 20px;
    width: 90%;
    margin-left: 13%;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    background-color: #295596;
    border: 1px solid white;
    color: white;
}
section .mapa-footer{
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
section .mapa-footer p{
    font-size: 30px;
    color: rgba(0, 0, 255, 0.548);
    text-shadow: 5px 5px 4px rgba(150, 150, 150, 1);
}
section .mapa-footer ul li{
    list-style: none;
}
section .mapa-footer ul li a{
    color: #295596;
    text-decoration: none;
}
section .mapa-footer iframe{
    width: 90%;
    height: 500px;
}
section .mapa-oficina{
    margin-top: 15%;
    
}
section .mapa-oficina p{
    display: block;
    width: 30%;
    font-weight: 900;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
section .mapa-oficina iframe{
    width: 80%;
    height: 600px;
    margin-left: 11%;
}
@media(max-width: 800px){
    *{
        border: none;
    } 
    body{
        font-size: 15px;
    }
    header{
        background-color: white;
    }
    header .contenedor img{
        width: 100%;
    }
    header .contenedor nav{
        position: fixed;
        width: 100%;
        height: 100%;
        background: white;
        font-size: 20px;
        padding: 80px 15px;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.4s ease;
        transform: translateX(100%);
    }
    header .contenedor nav a{
        margin: 15px;
    }
    header .contenedor nav.open{
        transform: translateX(0);
    }
    header .contenedor .menu{
        display: block;
        margin-right: 20px;
        font-size: 30px;
        color: rgba(252, 201, 12, 1)
    }
    header .contenedor a img{
        margin-left: 50%;
        width: 100%;
        align-items: center;
    }
    .slider-contenedor{
        margin-top: 52%;
        margin-left: 0;
        margin-right: 0;
    }
    section .menu-datos{
        display: none;
    }
    section .columna-4{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    section .columna-4 a{
        width: 50%;
        text-decoration: none;
    }
    section .columna-4 img{
        width: 100%;
    }
    .comercial h3{
        background-color: blue;
        color: white;
        border-radius: 20%;
        width: 50%;
        padding: 10px;
        align-content: center;
    }
    .comercial img{    
        margin-left: 7%;
    }
    .infocomercial{
        display: flex;
        flex-direction: column;
    }
    .informativo{
        position: relative;
    }
    .informativo div p {
        width: 90%;
        margin-top: 15%;
        font-size: 15px;
        margin-left: 20px;
        color: #295596;
        font-weight: 900;
        font-style: oblique;
        text-align: center;
    }
    .informativo div img{
        width: 30%;
        margin-right: 35%;
    }
    section.crc{
        background: #01bfdf;
        margin: 15px;
        width: 93%;
    }
    .crc img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }
    footer .columna-50{
        width: 50%;
        text-align: center;
    }
    footer .columna-100{
        width: 100%;
    }
    .redes{
        font-size: 30px;
    }
    section.empresa .vision{
        width: 100%;
    }
    section.empresa .mision{
        width: 100%;
    }
    section.empresa .valores{
        width: 80%;
    }
    section.empresa .valores h2{
        font-size: 35px;
        text-align: center;
        color: #295596;
        text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -12px 9px 6px rgba(0,0,0,0.2);
    }
    section div.proteccion{
        margin-top: 55%;
        text-align: center;
    }
    section div.proteccion img{
        display: block;
        width: 100%;
    }
    section .normativa{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    } 
    section .normativa .columna-33{
        width: 100%;
    }
    section .normativa .columna-33 ul li{
        list-style: none;
        margin-left: auto;
        margin-right: auto;
    }
    main section .divicion{
        margin-top: 50%;
        margin-bottom: 0;
    }
    section div.canales h4{
        color: #295596;
        font-size: 25px;
        margin-bottom: -1px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    section div.canales ul{
        width: 100%;
    }
    section div.banner-programacion img{
        width:100% ;
    }
    section div.programacion{
        margin-top: 10%;
        margin-left: 0;
        margin-right: 0;
    }
    section div.programacion iframe{
        width: 100%;
    }
    section div.banner-titulo{
        margin-top: 50%;
    }
    section div.banner-titulo img{
        
        width: 100%;
    }
    section .tabla-precios .mes{
        width: 100%;
    }
    section .contenedor-formulario{
        margin-top: 70%;
    }
    section form i,
    section form .form-control{
        font-size: 12px;
    }

    section .contenedor-formulario .formulario{
        margin-top: 0;
        width: 100%;
        font-size: 15px;
    }
    section .mapa-footer p{
        font-size: 12px;
    }
    section .mapa-footer iframe{
        width: 100%;
    }
    
}
@media(max-width:280px){
    
    header .contenedor a img{
        margin-left: 20%;
        width: 100%;
        align-items: center;
    }
    .slider-contenedor{
        margin-top: 70%;
        margin-left: 0;
        margin-right: 0;
    }
    .comercial{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .comercial h3{
        padding: 5px;
        background-color: blue;
        color: white;
        text-align: center;
        border-radius: 15%;
        width: 95%;
        margin-top: 10%;
    }
    .comercial img{
        width: 100%;
    }
    .infocomercial img{
        margin-left: 40%;
    }
}